node_modules
dist
keystores/
.env
.local_env
.secrets
.expo
.vscode
.DS_Store
.idea
*.iml
server/.env
server/.local_env
server/.secrets
keystores
*.jks
*.keystore
server/logs
server/public/_expo
server/node_modules
server/Mailgun Example.js
server/.env.example
server/__tests__/test-credentials.json
test_inputs/raw
app/.expo
app/android/.idea
app/android/local.properties
app/android/.kotlin
app/android/app/.cxx
app/node_modules
app/logs
logs
patches
build
coverage
*.log*
logs
*example*
!scripts/deploy.config.example
.gradle
server/.gradle
firestore-debug.log
firebase-export-*
playwright-report/index.html
test-results/.last-run.json
.firebase
.firebase-data
firestore-debug.log
build/reports/problems
playwright-report
test-results
server/config/firebase-service-account-key.json
firestore-debug.log
app/desktop.ini
server/desktop.ini
test_inputs/default_accounts.json
server/__fixtures__/gold
scripts/deploy.config
app/-DryRun/frontend/
/app/android
/app/ios
.artifacts
tmp