node_modules
npm-debug.log*
dist
.env
.expo
.vscode
.DS_Store
.idea
*.iml
.gradle
.gradle/8.14.3/fileHashes/fileHashes.lock
server/.env
server/logs
server/public/_expo
server/node_modules
app/.expo
app/android/.gradle
app/android/.idea
app/android/local.properties
app/android/.gradle
app/node_modules
/android
logs
patches
build
