node_modules
dist
.env
.local_env
.secrets
.expo
.vscode
.DS_Store
.idea
*.iml
server/.env
server/.local_env
server/.secrets
server/logs
server/public/_expo
server/node_modules
server/Mailgun Example.js
server/.env.example
server/__tests__/test-credentials.json
app/.expo
app/android/.gradle
app/android/.idea
app/android/local.properties
app/android/.gradle
app/node_modules
app/logs
/android
logs
patches
build
*.log*
logs
*example*