# This file is for storing secrets that will be uploaded to Google Secret Manager.
# The key is the secret name, and the value is the secret content.
#
# Example:
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# SMTP_PASS="your-smtp-password"

